In [4]:
from pandas import Series, DataFrame
import pandas as pd
import os
os.chdir('C:\\Users\\Aron\\PythonStuff')
os.getcwd()

'C:\\Users\\Aron\\PythonStuff'

##Build Some Sumifs

In [21]:
df =  pd.read_csv('Sumifs.csv',header=0)
df.head()

         Date Employee Project  Hours
0  01/01/2013     John       A      4
1  01/01/2013    Paddy       B      4
2  01/01/2013    Trish       C      4
3  01/01/2014     John       D      4
4  01/01/2014    Paddy       A     12

In [22]:
 df.groupby("Project")["Hours"].sum()

Project
A          50
B          41
C          95
D          39
Name: Hours, dtype: float64